@page
@model MoviesModel
@{
    ViewData["Title"] = "Movies List";
}

<div class="text-center">
<h1>Bienvenidos</h1>

<p>
    ¿Eres un amante del cine en busca de obras maestras cinematográficas para agregar a
    tu lista de imprescindibles? ¿O simplemente estás buscando una gran película para tu
    próxima noche de cine? ¡No busques más! Nuestro catalogo te permitira escoger tu siguiente pelicula de acuerdo a
    criticas de la cominidad. Podras además saber los servicios de streaming en los que esta disponible, así como opcionalmente
    calificar cada pelicula que veas y dejar tu reseña de la misma.
</p>

<p>
    Nuestras clasificaciones se basan en un conjunto de criticas de la comunidad, a las cuales puedes
    simpre agregar tu opinión personal. Por supuesto el propósito principal de este sitio es brindarte una manera facil
    de recordar y tener a la mano una lista de las peliculas que has visto.
</p>

<p>
    Ya seas un experto en películas o estés comenzando tu viaje cinematográfico, nuestra lista de las 100 Mejores
    Películas es tu guía hacia la excelencia cinematográfica. Desde clásicos atemporales como "Ciudadano Kane" hasta
    obras maestras modernas como "Parásitos", estamos aquí para guiarte a través del extraordinario mundo del cine.
</p>

<p>
    Además, nuestra pagina te permitira guardar de manera cómoda tu avance sobre las series que estes viendo. No   importa si pierdes
    tu suscripcipción al servicio de streaming, no perderas tu progreso. Además, podras ver que series estan en tendencia y
    en un futuro, recibiras recomendaciones badas en tus gustos, para esto no olvides calificar el contenido que veas.
</p>

<p>
    Así que toma tus palomitas, siéntate cómodo y comienza a explorar el mundo del cine, expande tu lista y ayudate de
    las criticas de la comunidad para escoger tu siguiente pelicula favorita. Estás a punto de embarcarte en un viaje
    inolvidable a través de la magia de la narración y el poder de la pantalla grande.
</p>


<h3>¡Luces, cámara, acción!</h3>
</div>